<section class="section-title">
  <div class="row">
    <h3 class="title">Consulta Cliente Domicilio</h3>
  </div>
  <hr class="line-hr">
</section>
<section class="section-table">
  <div class="row">
    <div class="col-12 filter">
      <div class="row">
        <div class="col-md-6">
          <div class="row g-3 align-items-center">
            <div class="col-auto">
              <label for="inputsearch" class="col-form-label">Buscar: </label>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <span class="input-group-append">
                  <div class="input-group-text bg-transparent border border-end-0">
                    <fa-icon [icon]="faSearch" class="font-weight-300"></fa-icon>
                  </div>
                </span>
                <input class="form-control  border border-start-0"  type="search"[(ngModel)] = "termino"
                  placeholder="Escribe lo que deseas buscar…" id="example-search-input" (keyup)="getPersonFilter(termino)">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6  d-flex justify-content-md-end mt-md-0 mt-2">
          <button class="btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            <fa-icon [icon]="faPlus" class="icon-plus mb-5"></fa-icon> Nuevo Domicilio
          </button>
        </div>
        <div>
          <app-modal></app-modal>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <app-table  [ELEMENT_DATA] = "dataSource">
      </app-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</section>