.section-title {
    margin-top: 42px;


    .title {
        font-size: 20px;
        color: #555555;
        font-weight: 400;
    }
    .line-hr {
        color: #d8d8d8;
        height: 3px;
    }

    .form-control:focus {
        outline: 0 !important;
        border-color: initial;
        box-shadow: none;
    }

   .mat-paginator-page-size{

    color: transparent;
   }
}

.section-table {
    margin-top: 26px;

    .filter {
        margin-bottom: 16px;
    }
    .form-control {
        border-color: #dfdfdf;
    }
    .col-form-label {
        font-size: 16px;
    }

    .icon-plus {
        font-size: 16px;
        margin: 20px 3px;
    }

    .btn {
        background-color: #273f70;
        color: #fff;
        font-weight: 300;
    }

   
}
