nav {
    .texto-logo{
         font-size: 28px;
         margin-top: 15px;
         margin-left: 12px;
         font-weight: 300;
         color: #555555;

    }

    .button-navbar {
        .btn {
            background-color: #fff;
           
        }
        .button-edit{
             margin-right: 18px;
             color: #273F70;
            
        }
        .button-delete{
            
            color: #A30000;
           
       }
    }
}